.navbarStyle {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	height: 100%;
	z-index: 9999;
}
.navbarStyle li {
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbarStyle li span {
	padding-right: 10px;
	border-right: 1px solid #000;
}
.navbarStyle li img {
	height: 30px;
}

.headerImageContainer {
	height: 100%;
}

.imageHolder {
	display: flex;
	justify-content: flex-end;
}

.imageHolder img {
	border-radius: 20px !important;

	width: 107px;
}

.profileContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

.welcomeTextContainer p {
	font-size: 16px;
	font-weight: 300;
}
.welcomeText {
	font-size: 30px;
}
.welcomeText span {
	font-weight: 300;
	margin-bottom: 20px;
}

.welcomeTextContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.pageHeadingText {
	width: fit-content;
	font-size: 30px;
	margin-bottom: 30px;
}

.pageHeadingText::after {
	content: attr(data);
	color: transparent;
	display: inline-block;
	height: 50px;
	position: absolute;
	left: 0;
	background-image: url(underline.png);
	font-size: 30px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: bottom;
	top: 0px;
	padding-left: 12px;
	padding-right: 20px;
}

.pageHeadingTextContainer {
	position: relative;
}

.placeItem {
	height: 216px;
	border-radius: 18px !important;
	overflow: hidden;
	/* width: 156px; */
	background-position: center;
	background-size: cover;
	padding: 0;
	/* margin-right: 15px; */
	margin-bottom: 15px;
	transition: all 0.3s ease-in-out;
}
.placeNameHolder {
	height: 100%;
	width: 100%;
	background-color: red;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 94.91%);
	color: #fff;
	font-size: 18px;
	line-height: 21.09px;
	padding: 10px;
	transition: all 1000ms linear;
}

.placeItem:hover {
	transform: scale(1.03);
}
.placeNameHolder:hover {
	opacity: 0.7;
}
.placeItemHolder {
	height: 247px;
	width: 100%;
	background-size: cover;
	background-position: center;
	padding: 0;
	transition: all 0.3s ease-in-out;
	margin-bottom: 20px;
}

.placeItemName {
	background: linear-gradient(360deg, #000000 15%, rgba(0, 0, 0, 0) 100%);
	display: flex;
	justify-content: flex-end;
	height: 100%;
	padding-bottom: 10px;
	color: #fff;
	font-size: 28px;
	font-weight: 500;
	padding-left: 10px;
	flex-direction: column;
	transition: all 500ms linear;
}

.placeItemLocation {
	font-size: 16px;
}

/* .placeItemHolder:hover {
  transform: scale(1.03);
} */
.placeItemName:hover {
	opacity: 0.7;
}

.navbarItemStyle ul li {
	list-style: none;
}

.navbarItemStyle {
	display: flex;
}

.nothingFound {
	width: 300px;
	margin: 0px auto;
}

.nothingFoundContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.m-icon {
	display: none !important;
}
.d-icon {
	display: inline-block;
}
@media all and (max-width: 480px) {
	.navbarStyle {
		box-shadow: 0px 0px 6px 9px rgba(0, 0, 0, 0.25);
		background-color: #fff;
		position: fixed;
		top: auto;
		left: 0;
		bottom: 20px;
		height: 60px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 100px;
		padding: 0;
		justify-content: space-evenly;
		padding-left: 10px;
		padding-right: 10px;
	}
	.navItem {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.navbarStyle li span {
		border-color: transparent;
	}
	.m-icon {
		display: block !important;
	}
	.d-icon {
		display: none !important;
	}
	.searchIcon {
		transform: scale(1.3);
		margin-top: -15px;
		margin-bottom: 20px;
		/* align-items: flex-start !important; */
		padding: 10px;
		padding-top: 10px;
		background-color: #fff;
		border-radius: 50px;
	}
	.searchIcon img {
		transform: scale(1.1);
	}
	.placeItemHolder {
		width: 100%;
		border-radius: 5px !important;
		overflow: hidden;
	}
	.navItem {
		font-size: 12px;
	}
	.navbarStyle li span {
		padding: 0px;
	}
	.placeItem {
		width: 100%;
	}
	.placeItemContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
	.placeItemContainer a{
		width: 100%;
	}
}
